ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: center;
    text-align: right;
}

li {
    display: inline-block;
}

#guldStrawPoll {
    color: red;
    font-size: larger;
    font-weight: bold;
    position: center;
    text-align: center;
    vertical-align: central;

    padding-right: 500px;
}

li button {

    background-color: lightgrey;
    border: thin;
    color: black;
    font-size: medium;

    margin-right: 20px;
}

.txtMid {
    background-color: sandybrown;
    text-align: center;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 3;
    font-family: "Segoe UI", sans-serif;
}

#ChoixReponse {
    margin-left: 150px;
    text-align: left;
}

#NombreVote {
    position: relative;
    top: -80px; /*ce qu'il faut pour que ça descende*/
    text-align: center;
}

body {
    background-color: powderblue;
    padding: 0;
    margin: 0;
}

#copyright {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 12px;
}

#btncreatepoll {
    border: none;
    width: 200px;
    height: 40px;
}

.question {
    border: none;
    width: 300px;
}

.reponse {
    border: none;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

    li a {
        text-decoration: none;
        color: white;
    }

    li .titre {
        color: red;
        position: absolute; /* postulat de départ */
        left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%); /* décalage de 50% de sa propre taille */
        font-size: 25px;
        padding-top: 35px;
    }

    li .btnConnect {
        position: absolute;
        padding-top: 35px;
        right: 1%;
        transform: translate(-1%);
        font-size: 20px;
    }

    li .btnLog {
        position: absolute;
        padding-top: 35px;
        right: 10%;
        font-size: 20px;
        transform: translate(-10%);
        padding-top: 35px;
    }

    li .logo {
        width: 40%;
    }

h1 {
    color: blue;
    position: left;
    font-size: 22px;
}

.checkboxGauche {
    text-align: left;
}
