
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Toto</title>
    <link rel="stylesheet" type="text/css" href="stylesheetcreatestrawpoll.css" />
</head>
<body>
    <div>
        <!--Navbar du haut--> <ul> <li style="float: left"><img src="cropped-logo.png" class="logo"></li> <li style="float:center"><a href="#news" class="titre">Guld StrawPoll</a></li> <li style="float:right"><a href="#contact" class="btnConnect">Connect</a></li> <li style="float: right"><a href="#about" class="btnLog">LogIn</a></li> </ul> <!-- Texte du milieu--> <div class="txtMid">
            <!--Gérer la suppression de l'accès au sondage -->
            <p>Vous ne pouvez plus voter.</p>
        </div>

        <!-- Copyright--> <p id="copyright">Copyright 2018. All rights reserved</p>
    </div>
</body>
</html>