
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Génération des URLs</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Index.css" />
</head>
<body>
    <div>
        <!--Navbar du haut-->
        <ul>
            <li style="float: left"><img src="~/cropped-logo.png" class="logo"></li>
            <li style="float:center"><a href="#news" class="titre">Guld StrawPoll</a></li>
            <li style="float:right"><a href="#contact" class="btnConnect">Connect</a></li>
            <li style="float: right"><a href="#about" class="btnLog">LogIn</a></li>
        </ul>

        <!-- Middle Text -->
        <div class="txtMid">
            
            <p> Bienvenue sur le GuldStrawPoll </p>

            <a style="float:left" href="@ViewBag.URLStrawPoll">Vote page</a><br /><br />
            <a style="float:left" href="@ViewBag.URLDeletion">Delete strawpoll</a><br /><br />
            <a style="float:left" href="@ViewBag.URLResult">Result page</a><br /><br />

        </div>
            <!-- Copyright-->
            <p id="copyright">Copyright 2018. All rights reserved</p>

        </div>
</body>
</html>
