
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Index.css" />
</head>
<body>
    <div>
        <!--Navbar du haut-->
        <ul>
            <li style="float: left"><img src="~\GuldStrawPoll\cropped-logo.png" class="logo"></li>
            <li style="float:center"><a href="#news" class="titre">Guld StrawPoll</a></li>
            <li style="float:right"><a href="#contact" class="btnConnect">Connect</a></li>
            <li style="float: right"><a href="#about" class="btnLog">LogIn</a></li>
        </ul>

        <!-- Texte du milieu-->
        <p> Bienvenue sur le GuldStrawPoll </p>

        <a style="float:left" href="@ViewBag.URLStrawPoll">Vote page</a><br /><br />
        <a style="float:left" href="@ViewBag.URLDeletion">Delete strawpoll</a><br /><br />
        <a style="float:left" href="@ViewBag.URLResult">Result page</a><br /><br />

        <!--Cookies-->
        <!-- A chercher comment gérer les cookies-->
        <!-- Copyright-->
        <p>Copyright 2018. Tous droits réservés</p>

    </div>
</body>
</html>
