
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Toto</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Index.css" />
</head>
<body>
    <div>
        <!--Navbar du haut-->
        <ul>
        <li style="float: left"><img src="~\GuldStrawPoll\cropped-logo.png" class="logo"></li>
        <li style="float:center"><a href="#news" class="titre">Guld StrawPoll</a></li>
        <li style="float:right"><a href="#contact" class="btnConnect">Connect</a></li>
        <li style="float: right"><a href="#about" class="btnLog">LogIn</a></li>
        </ul>

        <!-- Texte du milieu-->
        <div class="txtMid">
            <h1>Résultat du sondage</h1>
            <h3>@ViewBag.StrawPoll.getStrawPollQuestion()</h3>
            <h3>OUI</h3>
            <br />
            <h3>NON</h3>
            <br />
            <h3>4 Votes total</h3>
            <br />

        </div>


        <!-- Copyright-->
        <p id="copyright">Copyright 2017. Tous droits réservés</p>

    </div>
</body>
</html>
